<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form th:action="@{update(page=${page}, keyword=${keyword})}" method="post">
            <div>
                <label for="id">ID</label>
                <input readonly id="id" class="form-control" type="text" name="id" th:value="${patient.id}">
            </div>
            <div>
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" name="name" th:value="${patient.name}">
                <span class="text-danger" th:errors="${patient.name}"></span>
            </div>
            <div>
                <label for="bornDate">Born Date</label>
                <input id="bornDate" class="form-control" type="date" name="bornDate" th:value="${patient.bornDate}">
                <span class="text-danger" th:errors="${patient.bornDate}"></span>
            </div>
            <div class="form-check">
                <label for="isSick" class="form-check-label">Sick</label>
                <input id="isSick" class="form-check-input" type="checkbox" name="isSick" th:checked="${patient.isSick}">

            </div>
            <div>
                <label for="score">Score</label>
                <input id="score" class="form-control" type="text" name="score" th:value="${patient.score}">
                <span class="text-danger" th:errors="${patient.score}"></span>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>